# Database
POSTGRES_DB=PassMan
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Backend Spring Datasource
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/PassMan
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password